body {
    background-image: url("portfolio.jpg");
    margin-left: 400px;
}

h2 {
    color: #01DF01;
	margin-left: -35px;
    }
p {
	color: white;
}
img.Profiel {
	width: 200px;
	height: 270px;
	float:right;
	margin-right: 430px;
}

a{
	color:white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
img.Base {
	margin-top: 260px;
	width: 380px;
	height: 240px;
	float:right;
	margin-right: 160px;
}
